#root {
  display: flex;
  flex-flow: column wrap;
}

.deck {
  display: flex;
  flex-flow: row wrap;
}

.card {
  display: flex;
  width: 60px;
  height: 100px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #808080;
  padding: 4px;
}

.card-black {
  color: black;
}

.card-red {
  color: red;
}

.card-value {
  font-size: 20px;
}

.card-suit {
  .font-size: 14px;
}

.card-tl {
  display: flex;
  flex-grow: 1;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.card-br {
  display: flex;
  flex-grow: 1;
  flex-flow: column nowrap;
  justify-content: flex-start;
  transform: rotate(-180deg);
  align-items: flex-start;
}

input[type='button'] {
  padding: 8px 16px;
  margin: 16px;
  border-radius: 8px;
  background-color: red;
  border: 1px solid white;
  color: white;
  text-transform: uppercase;
}
