wizard_blue = rgb(47,115,83)

body
	padding 10px
	font-family sans-serif

////////////////////// HOST

.player-bid
	display flex
	width 25%
	justify-content space-between
	
.player-cards-container
	display flex
	justify-content space-between
	
// copied from card.css	
.placeholder-card
	width 48px
	height 80px
	background-color #fff
	border 1px dashed gray
	margin 16px
	padding 4px
	display flex
	
.active-player-indicator
	justify-content center
	align-items center
	width 100%
	font-size 24px
	display flex
	color orange
	
.card
	.player-card.is-winner &
			border 5px solid green		

trick_display_size = 20px
.trick
	display inline-flex
	width trick_display_size
	height trick_display_size
	border-radius trick_display_size
	border 1px solid black
	margin-right 5px

	&.met
		background-color black
	
	&.extra
		background-color red

	////////////////////// PLAYER
		

.player-hand
	display flex		
	
.btn
	width 300px
	height 50px
	background-color wizard_blue
	border-radius 5px
	color white
	font-size 28px
	cursor pointer
	
	&:disabled
		background-color gray
	
.clickable-card
	&.is-active
		.card
			border 3px solid orange
	&:hover
		cursor pointer