//////////////////// GENERAL

wizard_blue = rgb(47,115,183)


*
	font-family 'Quicksand', sans-serif
	

.wizards-title
	font-size 50px

body
	padding 10px
	font-family sans-serif
	font-family 'Quicksand', sans-serif

h1
	margin-bottom 50px

.btn
	width 300px
	height 50px
	background-color wizard_blue
	border-radius 5px
	color white
	font-size 28px
	cursor pointer
	padding-left 40px
	padding-right 40px
	border 1px solid wizard_blue

	&.inline
		width auto
		margin-left 10px
	
	&:disabled
		background-color gray
		border 1px solid gray
		
	&:focus
		outline none
		background-color darken(wizard_blue, 30%)

////////////////////// HOST

.host-app-container
	display flex
	align-items center
	justify-content center
	text-align center
	padding-top 80px

img
	margin-bottom 25px
	width 200px

.players-list
	margin-bottom 50px

.game-code
	display inline-block
	font-size 48px
	font-weight bold
	border 1px solid black
	padding 20px
	margin-bottom 30px
	border-radius 8px
	
.scoreboard
	display table
	width 100%
	margin-bottom 30px
	font-size 24px

.player-bid
	display table-row
	
.scoreboard-player-name
	width 60%
	text-align left

.scoreboard-player-name
.round-score
.total-score
	display table-cell
	padding-bottom 20px
	
.round-score.met
	color green
	
.round-score.missed
	color red

.trump-card
	display flex
	align-items center
	justify-content center
	margin-bottom 30px
	flex-wrap wrap
	
	p
		flex-grow 1
		width 100%

.player-cards-container
	display flex
	justify-content space-between
	
.player-card-container
	padding 0 30px
	width 90px
	display flex
	flex-direction column
	align-items center

.player-card
	margin-bottom 20px

// copied from card.css	
.placeholder-card
	width 60px
	height 100px
	border-radius 8px
	background-color lighten(#eee, 70%)
	border 1px dashed gray
	padding 4px
	display flex
	
	&.is-active
		border 3px dashed orange
		
	
.active-player-indicator
	justify-content center
	align-items center
	width 100%
	font-size 24px
	display flex
	color orange
	
.card
	.player-card.is-winner &
			border 5px solid green		

.bid
	margin-bottom 20px

trick_display_size = 20px
extra_trick_color = darken(red, 20%)
unmet_trick_color = lighten(wizard_blue, 70%)
.trick
	display inline-flex
	width trick_display_size
	height trick_display_size
	border-radius trick_display_size
	margin-right 5px
	background-color unmet_trick_color
	border 1px solid unmet_trick_color

	&.met
		background-color wizard_blue
		border 1px solid wizard_blue
	
	&.extra
		background-color extra_trick_color
		border 1px solid extra_trick_color

	////////////////////// PLAYER

.player-app-container
	display flex
	align-items center
	justify-content center
	text-align center
	margin 20px
	

input
	width 270px
	height 50px
	margin-bottom 15px
	padding 0 15px
	font-size 24px
	border-radius 5px
	box-shadow none
	border 1px solid #cccccc
	
	&:focus
		border 1px solid wizard_blue
		outline none

card_overlap_width = 30px
.player-hand
	display flex	
	margin-left card_overlap_width	
	margin-bottom 30px
	justify-content center
	
	// hide right half when cards are overlapping in hand
	.clickable-card:not(:last-child) .card-br
		display none
		
	.card
		margin-left -1 * card_overlap_width
	
.clickable-card
	&.is-active
		margin-top -20px
		transition 300ms ease
		
		.card
			border 3px solid orange

	&.is-clickable:hover
		cursor pointer
		
.status
	font-size 24px
	height 24px
	margin-bottom 30px