body
	padding 10px
	font-family sans-serif

.player-bid
	display flex
	width 25%
	justify-content space-between
	
.player-cards-container
	display flex
	justify-content space-between
	
// copied from card.css	
.placeholder-card
	width 48px
	height 80px
	background-color #fff
	border 1px solid black
	margin 16px
	padding 4px